	h1	{
		color: red;
		font-weight: 500;
		font-family: helvetic;
		font-size: 20px
		}
	h2	{
		color:black;
		font-size:16px
		}
	img {
		border-width: 1px;
		border-color: blue;
		border-style: solid
		}
	p   {
		background: yellow;
		font-size:14px
		}
.color  {
		color: green;
		font-size: 50px
		}
.background{
		background-color: #45c3c9
		}
.background2{
		background-color: blue
		}
p a     {
		color: red;
		font-size:40px;
		background-color: pink
		}